body{
    margin: 0;
    font-family: sans-serif;
}

.mensagem{
    width: 400px;
    margin: 30px auto;
    background-color: gray;
    color: white;
    border-radius: 10px;
    padding: 30px;
}

.botao{
    border: 0;
    padding: 10px;
    color: white;
}

.erro{
    background-color: red;
}

.sucesso{
    background-color: green;
}

.aviso{
    background-color: yellow;
}